*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
    background-color: #1f2937;
    color: white;
    padding: 0 150px 0 150px;
    margin-bottom: 50px;
}

nav{
    display: flex;
    align-content: space-between;
    padding: 20px 0 20px 0;
    gap: 400px;
    margin-bottom: 100px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-right: 50px;
}

.header-links{
    font-size: 18px;
    color: #e5e7eb;
    align-content: space-between;
    align-items: center;
    gap: 15px;
}

section{
    display: flex;
    flex-flow: row nowrap;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

.container p{
    color: #e5e7eb;
    font-size: 18px;
}

section.container {
    flex-wrap: wrap;
}

.image{    
    background-color: grey;
    color: white;
    padding: 80px 150px 80px;
    margin: 0 50px 100px;
}

.sign-up{
    background-color: #3882f6;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 30px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.information{
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    align-self: center;
    margin-bottom: 50px;
}

.subtext{
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.info-img{
    padding: 80px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

figure {
    width: 180px;
    margin: 0 30px 100px;
    text-align: center;
}

.quote-back{
    background-color: #e5e7eb;
    padding: 100px 200px 100px;
}

.quote-text{
    font-size: 36px; 
    font-style: light italic;
    color: #1f2937;
}

.author{
    font-weight: bold;
    font-size: 24px;
    text-align: end;
    margin-top: 5px;
}

.last-section{
    margin: 70px 130px 70px;
    padding: 40px 80px 40px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.sign-up-btn{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 24px 8px;
    border-color: #f9faf8;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    margin-left: 350px;
    cursor: pointer;
}